.skills{
  display: inline-block;
}

.head{
  background-color:#80CEC8;
  color:black;
  font-family: Montserrat;
  font-weight: lighter;
  text-align: center;
}

h1{
  color:#32719b;
  font-family: Montserrat;
  font-weight: lighter;
  font-size: 12px;
}

h2{
  color: black;
  font-family: Montserrat;
  font-weight:semi bold;
  font-size: 9px;

}

p,li{
  color: black;
  font-family: Montserrat;
  font-weight: lighter;
  font-size: 9px;
}

section{
  width: 45%;
  display: inline-block;
}

@media only screen and(max-width:500px){
  margin:0 auto;
}

@media only screen and (max-width:1000px){
  margin:0 auto;
}
